@import url(public.css);

.education-main {
    padding: 0 0;
    margin: 0 0;
}

.education-main-section {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: row;
  width: 100%;
  min-height: 100%;
  align-items: flex-start;
}

.school-section {
  width: 50%;
  height: 100%;
  display: flex;
  flex: 1;
  padding: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

}

.divider-line {
  width: 5px;
  height: 100%;
  background-color: var(--header-text_border);
}

.education-logo {
  margin-left: -50px;
  display:flex;
  align-items: center;
  justify-items: center;
  gap: 40px;
}

.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
}

.gcc-icon {
  background-image: url("../assets/images/gcc.png");
  width: 50px;
  height: 50px;
}

.vt-icon {
  background-image: url("https://cdn.freebiesupply.com/logos/large/2x/virginia-tech-hokies-logo-png-transparent.png");
  width: 50px;
  height: 50px;
  background-color: rgb(179, 177, 177);
}

.education-section-title {
  padding-top: 40px;
  color: var(--text-color-main);
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 30px;
  position: relative;
}

.education-section-title::before {
  content: "";
  position: absolute;
  left: -30px;
  top: 40px;
  bottom: 5px;
  width: 4px;
  background: var(--section-title-background-color);
}

.education-section-effect {
  position: relative;
  display: inline-block;
}

.education-section-effect::after {
  content: attr(data-text);
  position:absolute;
  left: 15px;
  top: 0%;
  transform: translateY(100%);
  font-size: 4rem;
  font-style: italic;
  color: rgba(0, 0, 0, 0.082);
  z-index: -1;
  white-space: nowrap;
}

.education-section-effect2 {
  position: relative;
  display: inline-block;
}

.education-section-effect2::after {
  content: attr(data-text);
  position: absolute;
  left: -120px;
  top: 0%;
  transform: translateY(100%);
  font-size: 4rem;
  font-style: italic;
  color: rgba(0, 0, 0, 0.082);
  z-index: -1;
  white-space: nowrap;
}

.education-row {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.class-section {
  white-space: nowrap;
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 5px;
  color: var(--text-color-main);
}

.education-h2 {
  padding-top: 60px;
  padding-bottom: 20px;
  color: var(--text-color-special);
}

.school-section-column {
  width: 50%;
  display: flex;
  padding: 0px;
  align-items: center;
  justify-content: flex-start;
  padding-left: 100px;
  padding-top: 0px;
  flex-direction: column;
  margin-right: 10px;
}

.school-section-honor {
  width: 40%;
  display: flex;
  padding: 0px;
  align-items:center;
  justify-content: flex-start;
  padding-left: 150px;
  padding-top: 0px;
  flex-direction: column;
  margin-right: 10px;
}

.transcript {
  margin-top: 0px;
  padding-top: 0px;
  font-size: 20px;
  font-style: italic;
}

.next-page {
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  margin-left: 6rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  color: var(--text-color-special);
}

.honor-1 {
  padding: 0;
  background: var(--skill-1-background);
  color: var(--skill-1-text);
  font-size: 20px;
  white-space: nowrap;
  border: none;
  border-radius: 20px;
  width: 240px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  margin-bottom: 30px;
}

.honor-2 {
  padding: 0;
  background: var(--skill-2-background);
  color: var(--skill-2-text);
  font-size: 20px;
  white-space: nowrap;
  border: none;
  border-radius: 20px;
  width: 240px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  margin-bottom: 30px;
}

.honor-3 {
  padding:0;
  background: var(--skill-3-background);
  color: var(--skill-3-text);
  font-size: 20px;
  white-space: nowrap;
  border: none;
  border-radius: 20px;
  width: 240px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  margin-bottom: 30px;
}

.honor-4 {
  padding: 0;
  background: var(--skill-4-background);
  color: var(--skill-4-text);
  font-size: 20px;
  white-space: nowrap;
  border: none;
  border-radius: 20px;
  width: 240px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  margin-bottom: 30px;
}

.honor-5 {
  padding: 0;
  background: var(--skill-5-background);
  color: var(--skill-5-text);
  font-size: 20px;
  white-space: nowrap;
  border: none;
  border-radius: 20px;
  width: 240px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  margin-bottom: 30px;
}

div p a:hover {
  outline: 3px solid var(--header-text_border);
  border-radius: 5px;
  transition: none;
}

.gpa-section {
  white-space: nowrap;
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 5px;
  color: var(--text-color-main);
}